@import url('~bulma/css/bulma.css');

body,
.footer,
.section {
  color: #fff;
  background: #42afe3;
}

.footer {
  padding-bottom: 0;
}

body .footer a,
body .footer a:hover,
body .footer a:visited {
  color: #fff;
  text-decoration: none;
  border: none;
}